html {
    font-size: 16px;
}

body {
    margin: 0px;
    padding: 0px;
    background: #FFFFFF; 
}

body, div {
    font-family: Frutiger, Arial, sans-serif;   
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    max-width: 95%;
    background-color: #FFFFFF;        
}

.logo {
    margin-top: 20px;
    text-align: right;
    min-width: 50px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; } /* Default */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.breadcrumb {
    font-size: 13px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.breadcrumb.active {
    color: #777777;
}

.breadcrumb a {
    color: #000000;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #000000;
    text-decoration: none;
}  

.breadcrumb a:visited {
    color: #000000; 
    text-decoration: none;
}  

#title {
    margin-top: 80px;
    font-size: 40px;
    font-weight: 700;
}
