html {
    font-size: 16px;
    /*color: #001c00;*/
    color: #333333;
}

body {
    margin: 0px;
    padding: 0px;
    background: #FFFFFF; 
}

body, div {
    font-family: Frutiger, Arial, sans-serif;   
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    max-width: 95%;
    background-color: #FFFFFF;        
}

.logo {
    margin-top: 20px;
    text-align: right;
    min-width: 50px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; } /* Default */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.breadcrumb {
    font-size: 13px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
}

ul.breadcrumb {
    line-height: 40px;
    padding: 10px 10px;
    list-style: none;
    background-color: white;
}
ul.breadcrumb li {
    display: inline;
    font-size: 13px;
}
ul.breadcrumb li.active {
    color: #777777;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    content: ">";
}
ul.breadcrumb li a {
    color: #001c00;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #001c00;
    text-decoration: underline;
}
ul.breadcrumb li a:visited {
    color: #001c00;
    text-decoration: underline;
} 

#title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
}

#myInput {
    font-family: Frutiger, Arial, sans-serif; 
    color: #001c00;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input:focus { 
    border: 1px solid white !important;
    outline-color: #c62828 !important;
    outline-style: solid;
    outline-width: 2px;
}

summary a * {
    pointer-events: none;
}

details {
    padding: 15px 0px;
    border-bottom: 1px solid #eee;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0px solid #ddd;
    background-color: rgba(237, 237, 237, 0.3);
}
  
th, td {
    text-align: left;
    padding: 8px;
} 

a.default-link {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #c62828; 
    text-decoration: none !important;
}

a.default-link:hover {
    color: #c62828;
    text-decoration: underline !important;
}  

a.default-link:visited {
    color: #c62828; 
    text-decoration: underline !important;
}  

a.black-link {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333333; 
    text-decoration: none !important;
}

a.black-link:hover {
    color: #333333;
    text-decoration: underline !important;
}  

a.black-link:visited {
    color: #333333; 
    text-decoration: underline !important;
}  

a.icon-link {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333333; 
    text-decoration: none !important;
}

a.icon-link:hover {
    color: #333333;
    text-decoration: none !important;
}  

a.icon-link:visited {
    color: #333333; 
    text-decoration: none !important;
}  

hr {
    border: none;
    height: 1px;
    background-color: #eee; 
}